.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-kirim{
  background-color: hsl(210, 23%, 33%);
  color: white;
}

.button-kirim:hover{
  background-color: #1f353e;
  color: white;
}
