.navbar {
  background-color: transparent;
  color: black;
  display: flex;
  padding: 1.3% 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.navbar-logo h2 {
  font-size: 1.8rem;
}

.nav-list {
  display: none;
  align-items: center;
}

.nav-list .list-item {
  margin: 0.5rem;
}

.list-item a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.list-item a:hover {
  color: red;
}

li {
  list-style-type: none;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.nav-toggle i {
  font-size: 1rem;
  color: black;
}

body.dark .navbar .nav-toggle {
  color: white;
}

.mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .list-item {
    margin: 10px 0;
  }
  .mode-toggle {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .navbar {
    padding: 3rem 2rem;
    font-size: 1.2rem;
  }
}
